/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
}
html {
  scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: crimson;
}

::-webkit-scrollbar-thumb:hover {
  background: crimson;
  transition: 500ms;
}

/* background */

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* navbar */
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
}
.navbar.sticky {
  padding: 15px 0;
  background: rgba(12, 12, 12, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.navbar .logo a span {
  color: crimson;
  transition: all 0.3s ease;
}
.navbar.sticky .logo a span {
  color: #fff;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover {
  color: crimson;
}
.navbar.sticky .menu li a:hover {
  color: crimson;
}

/* menu btn styling */
.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}
.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: crimson;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
.scroll-up-btn:hover {
  filter: brightness(90%);
}

/* home */

section#home {
  width: 70%;
  height: 70vh;
  padding: 15%;
}

h1 {
  font-size: 13.5vh;
  color: #fff;
  text-align: left;
}

h1 span {
  color: crimson;
}

/* about */

section#about {
  padding: 2rem 20%;

  font-size: 36px;
}

section#about {
  background: rgb(0, 0, 0);
  color: white;
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
  padding: 20rem 20%;
  border-top: crimson 10px solid;
  border-right: crimson 10px solid;
  border-left: crimson 10px solid;
}

#about .right {
  text-align: right;
}

#about a {
  color: crimson;
  text-decoration: underline;
}

#about span {
  color: crimson;
}

/* services */

.grid-container {
  background-color: black;
  height: 100vh;
  width: 100%;
  gap: 32px 32px;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
  grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
  grid-template-areas:
    ". . . ."
    ". Card1 Card2 ."
    ". Card3 Card4 ."
    ". . . .";
}
.Card1 {
  grid-area: Card1;
  border: 3px crimson solid;
}
.Card2 {
  grid-area: Card2;
  border: 3px crimson solid;
}
.Card3 {
  grid-area: Card3;
  border: 3px crimson solid;
}
.Card4 {
  grid-area: Card4;
  border: 3px crimson solid;
}

.grid-container * {
  transition: 500ms;
  font-size: 24px;
  text-align: center;
  color: #fff;
  padding: 5%;
}

.grid-container i {
  padding: 5%;
  font-size: 128px;
  color: rgb(190, 190, 190);
}

.grid-container div:hover {
  -webkit-transform: scale(1.05);
  transition: 500ms;
  background-color: crimson;
}

/* footer */

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  color: #fff;
  background-color: black;
  box-shadow: 0px 1px 1px crimson, 0px 2px 10px crimson;
}

.footer > * {
  flex: 1 100%;
  overflow: hidden;
}

.l-footer {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

footer h2 {
  font-weight: 400;
  font-size: 20px;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
  font-size: 18px;
}

.r-footer {
  display: flex;
  flex-flow: row wrap;
}

.r-footer > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.box a {
  color: #fff;
}

.h-box {
  column-count: 2;
  column-gap: 1.25em;
}

.b-footer {
  text-align: center;
  color: #fff;
  padding-top: 50px;
}

.l-footer p {
  padding-right: 20%;
  color: #fff;
}

@media screen and (max-width: 1300px) {
  .footer a {
    font-size: 12px;
  }
}

@media screen and (min-width: 600px) {
  .r-footer > * {
    flex: 1;
  }

  .features {
    flex-grow: 2;
  }

  .l-footer {
    flex: 1 0px;
  }

  .r-footer {
    flex: 2 0px;
  }
}

@media (max-width: 947px) {
  .grid-container {
    background-color: black;
    height: 100vh;
    width: 100%;
    gap: 32px 32px;
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr 0.2fr;
    grid-template-rows: 0.2fr 1fr 1fr 0.2fr;
    grid-template-areas:
      ". . . ."
      ". Card1 Card2 ."
      ". Card3 Card4 ."
      ". . . .";
  }

  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: rgba(12, 12, 12, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
    background: rgba(12, 12, 12, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }

  .footer a {
    font-size: 10px;
  }

  .footer i {
    font-size: 10px;
  }

  .footer {
    padding: 5%;
  }
}

@media (max-width: 690px) {
  section#about {
    font-size: 22px;
  }

  .grid-container {
    padding-bottom: 10vh;
    padding-top: 10vh;
    background-color: black;
    height: auto;
    width: 100%;
    gap: 32px 32px;
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    grid-template-rows: 0.2fr 1fr 1fr 0.2fr;
    grid-template-areas:
      ". Card1 ."
      ". Card2 ."
      ". Card3 ."
      ". Card4 .";
  }

  .max-width {
    padding: 0 23px;
  }

  .grid-container i {
    font-size: 86px;
  }

  h1 {
    font-size: 10vh;
    padding-top: 10vh;
  }

  section#about {
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    padding: 20rem 20%;
    padding-bottom: 10vh;
  }
}

@media (max-width: 500px) {
  .scroll-up-btn {
    right: 15px;
    bottom: 15px;
    height: 38px;
    width: 35px;
    font-size: 23px;
    line-height: 38px;
  }

  .grid-container * {
    transition: 500ms;
    font-size: 20px;
    text-align: center;
    color: #fff;
    padding: 5%;
  }
}
